.stackf-map-filter {
  font-family: "roboto";
  color: #5d5d5d;
  .map-filter-form-group {
    padding-bottom: 30px;
    .flex-inner {
      display: flex;
      gap: 10px;
      label {
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 5px;
      }
      select {
        display: block;
        width: 100%;
        padding: 7px 10px;
        border: 1px solid #bbbbbb;
      }
    }
  }
  .state-datas {
    padding: 30px;
    border: 1px solid #bbbbbb;

    p {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: #5d5d5d;
      padding: 5px 0px;
      display: inline-block;
    }
    a:hover {
      color: #124734;
    }
    h3{
        margin: 0;
    }
    .location-title {
      font-family: "kopius";
      font-size: 36px;
      line-height: 36px;
      color: #124734;
      margin: 0px;
      padding-bottom: 20px;
    }
    .address_single {
      padding-bottom: 30px;
      h3{
        
      padding-bottom: 10px;
      }
    }
  }
}
